@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';

.header {
    font-size: 2rem;
    padding: 3rem;
    background-color: lightgray;
    margin-bottom: 1rem;


    @include respon(tab-port) {
        padding: 2.5rem;
    }

    @include respon(phone) {
        padding: 1.5rem;
        font-size: 1.5rem;
    }

    .screen {
        height: 100vh;
        width: 100vw;
        top: 0;
        right: 0;
        position: absolute;
    }

    &__logo {
        flex: 0.2;
        cursor: pointer;
    }

    &__search {
        flex: 0.2;
    }

    &__nav {
        flex: 0.6;
        justify-content: flex-end;
    }

    &__item {
        margin-right: 1.5rem;
        position: relative;
        cursor: pointer;

        .profile {
            &__list {
                position: absolute;
                background-color: lightgray;
                z-index: 100;
            }

            &__item {
                padding: 1rem;
                cursor: pointer;
            }
        }

    }

    &__link {
        color: $color-grey-dark;
    }

    &__profile {
        cursor: pointer;
    }

}