@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';

.header {
    font-size: 2rem;
    padding: 3rem;
    background-color: lightgray;
    margin-bottom: 1rem;

    @include respon(tab-port) {
        padding: 2.5rem;
    }

    @include respon(phone) {
        padding: 1.5rem;
    }

    &__input-container {
        flex: 0.2;
        position: relative;
        align-items: center;
        border-bottom: 1px solid rgb(141, 140, 140);

        &--search {
            font: inherit;
            border: 0;
            height: 1.1876em;
            padding: 6px 0 7px;
            background: none;

            &:focus {
                outline: none;
            }
        }

        &--search+&--icon {
            transition: all .2s;
        }

        &--search:focus+&--icon {
            transform: scale(1.2);
            fill: rgb(141, 140, 140);
        }

        &--icon {
            position: absolute;
            right: 0;
            width: 3rem !important;
            height: 3rem !important;
        }
    }



    .screen {
        height: 100vh;
        width: 100vw;
        top: 0;
        right: 0;
        position: absolute;
    }

    &__logo {
        flex: 0.2;
        cursor: pointer;

        @include respon(phone) {
            margin-right: 3rem;
        }
    }

    &__search {
        flex: 0.2;
    }

    &__nav {
        flex: 0.6;
        justify-content: flex-end;
        align-items: center;
        position: relative;



    }

    &__item {
        margin-right: 1.5rem;
        position: relative;
        cursor: pointer;

        .profile {
            &__list {
                position: absolute;
                background-color: lightgray;
                z-index: 100;
            }

            &__item {
                padding: 1rem;
                cursor: pointer;
            }
        }

        &--menu {
            width: 10rem;
            cursor: pointer;
            margin-right: 2rem;
            background-color: lightgray;

        }

    }

    &__link {
        color: $color-grey-dark;
    }

    &__profile {
        cursor: pointer;
        width: 3.5rem !important;
        height: 3.5rem !important;
    }

    &__menu-icon {
        width: 3.5rem !important;
        height: 3.5rem !important;
        margin-right: 3rem;
    }

    .menu {
        flex-direction: column;
        position: absolute;
        z-index: 999;

    }
}