
.header {
    font-size: 1.5rem;
    padding: 3rem;
    background-color: lightgray;


    &__logo {
        flex: 0.3;
        cursor: pointer;
    }

    &__search {
        flex: 0.2;
    }

    &__nav {
        flex: 0.5;
        justify-content: flex-end;
    }

    &__item {
        margin-right: 1.5rem;
        position: relative;

        .profile {
            &__list {
                position: absolute;
                background-color: lightgray;
            }

            &__item {
                padding: 1rem;
                cursor: pointer;
            }

        }

    }

    &__profile {
        cursor: pointer;
    }

}