@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';
@import '../../scss/base/typography';

.boxPreview {
    // margin-right: .5rem;
    flex-direction: column;
    height: 100%;
    color: $color-tertiary;
    height: 20rem;
    position: relative;
    font-family: nunito-bold;

    &:hover {
        // color: $color-secondary;
    }

    &__info {
        height: 20%;
        background-color: lighten($color-primary, 10%);
        padding: 5px;
        align-items: center;
        justify-content: space-between;
       
    }

    &__title {
        font-size: 1.7rem;
        text-transform: capitalize;
        font-family: 'nunito-bold';
        color: inherit;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
font-weight:100;


        @include respon(phone) {
            font-size: 1.4rem;
            margin-right: 0rem;
        }
    }

    .fullName {

        overflow: unset;
        text-overflow: ellipsis;
    }

    &__img {
        height: 80%;
        object-fit: cover;
        width: 100%;
    }

    &:hover .MuiSvgIcon-root {
        opacity: 1;
        filter: brightness(130%);
    }

    &:hover .play-icon {
        opacity: 1;
        filter: brightness(130%);
    }


    .play-icon {
        width: 10rem;
        height: 10rem;
        fill: white;
        @include absCenter;
        opacity: 0;
        top: 45%;
        z-index: 4;
        transition: all ease-in .3s;
    }

    // .MuiSvgIcon-root {
    //     width: 10rem;
    //     height: 10rem;
    //     fill: currentColor;
    //     @include absCenter;
    //     opacity: 1;
    //     z-index: 5;
    //     transition: all ease-in .3s;
    // }
}