.box-details{
    height: 100%;
    color: white;
    background-color: rgb(75, 75, 75);
    background-image: linear-gradient(black,rgb(51, 51, 51), black);
}
.box-details-section2{
    width: 100%;
    min-height: 85vh;
}