@import '../../scss/abstracts/variables';

.box-details {
    height: 100%;
    color: white;
    background-color: $color-primary;
    padding-top: 80px;
    &__container {
        height: 90%;;
    }
}

.box-details-section2 {
    width: 100%;
}