@import '../../scss/abstracts/mixins';

.main {
    padding: 0 4rem;
    padding-top: 80px;

    @include respon(tab-port) {
        padding: 0 6rem;
    }

    @include respon(phone) {
        padding: 0;
    }
}