@import '../../scss/abstracts/mixins';

.main {
padding: 80px 4rem 12rem 4rem;
    @include respon(tab-port) {
        padding: 80px 6rem 12rem 6rem;
    }

    @include respon(phone) {
        padding: 80px 0rem 12rem 0;
    }
}