.boxList {
    grid-template-columns: repeat(4, 300px);
    gap: 20px;
    margin: 5rem 0;
    place-content: center;
    overflow-y: scroll;
}


.boxList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}
.boxList::-webkit-scrollbar {
    width: 1rem;
}      
.boxList::-webkit-scrollbar-thumb {
    background-color: transparent;
    outline: 1px solid transparent;
    border-radius: 40px;
    outline: none;

}
.boxList::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }
