@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';

.box-info {
    width: 100%;
    height: 20vh;
    background: linear-gradient(rgba(255, 166, 0, 0.349), rgba(172, 172, 123, 0.561), rgba(255, 166, 0, 0.315));
    padding: 1.5rem;

    &__img {
        width: 20rem;
        height: 100%;
        object-fit: cover;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem;
        font-size: 2rem;
        text-transform: capitalize;
    }

    &__genre {
        background-color: $color-grey-dark-2;
        width: fit-content;
        padding: 3px;
        border-radius: 5px;
        margin: 7px;
    }
}


@media (max-width: 700px) {
    .box-info {
        font-size: 1.5rem;
    }
}