.hidden{
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;
}

.player{
    width: 100%;
    height: 80px;
    background-color: black;
    position:fixed;
    bottom: 0;
    display: flex;
    padding: 0 5rem;
    justify-content: space-between;
    img{
        min-width: 150;
        max-height:80px;
        object-fit: cover;
    }
    .player-buttons{
        width: 30%;
        padding: 4rem;
    }
    div{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            svg{
                fill: white;
                transform: scale(2);
            }
        }
    }
}

.bgc-animation{
    background-image: url('../../assets/PlayerSvg2.gif');
    background-size: cover;
}

.volume-slider {
    transform: rotate(270deg);
    width: 50px;
}

.duration-slider {
    flex-grow: 1;
    color: white;
    margin: 0 15px;
}

.player-img{
    width: 150px;
}