.hidden{
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;
}

.player{
    width: 100%;
    min-height: 10rem;
    background-color: black;
}
.volume-slider {
    transform: rotate(270deg);
    width: 50px;
}

.duration-slider {
    flex-grow: 1;
    color: white;
    margin: 0 15px;
}
