@import '../../scss/abstracts/variables';


.createBox {
    flex-direction: column;
    height: 75rem;
    justify-content: space-between;

    &__file-container {
        justify-content: center;

        input {
            opacity: 0;
            width: 30rem;
            height: 30rem;
            position: absolute;
            z-index: 100;
        }
    }

    &__svg {
        width: 30rem;
        height: 30rem;
    }

    &__label {
        font-size: 2rem !important;
    }

    &__input {
        font-size: 2rem !important;
    }

    .MuiInputBase-root {
        width: 75%;
    }


    .MuiButtonBase-root {
        font-size: 2rem;
        background-color: $color-primary;
        transition: .5s;
        &:hover {
            background-color: $color-primary-light;
        }
    }
}