@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';


.createBox {
    flex-direction: column;
    height: 57rem;
    justify-content: space-between;

    &__file-container {
        justify-content: center;

        input {
            opacity: 0;
            width: 12rem;
            height: 12rem;
            position: absolute;
            z-index: 100;
            cursor: pointer;
        }
    }

    &__img {
        position: absolute;
        width: 12rem;
        height: 12rem;
    }

    &__svg {
        width: 12rem;
        height: 12rem;
    }

    &__label {
        font-size: 2rem !important;
        color: $color-primary !important;
    }

    &__input {
        font-size: 2rem !important;
    }

    .MuiInputBase-root {
        width: 100%;

        input {
            &:focus {
                color: $color-secondary;
            }

            &::placeholder {
                color: $color-secondary;
            }
        }
    }

    .MuiButtonBase-root {
        font-size: 2rem;
        background-color: $color-primary;
        color: $color-tertiary;
        transition: .5s;

        &:hover {
            background-color: $color-primary;
            color: $color-secondary;
        }
    }

    &__select {
        font: inherit;
        color: currentColor;
        width: 100%;
        border: 0;
        padding: 6px 0 7px;
        min-width: 0;
        background: none;
        height: auto;
        color: $color-secondary;

        &:focus {
            outline: none;
        }
    }

    &__option {
        width: auto;
        color: $color-secondary;
        overflow: hidden;
        font-size: 1rem;
        min-height: 48px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        padding-top: 6px;
        white-space: nowrap;
        padding-bottom: 6px;
        font-size: 2rem;
    }
}