@import '../../scss/abstracts/variables';

.carousel {

    .react-multi-carousel-dot-list {
        z-index: -100;
    }


    .react-multiple-carousel__arrow{
        min-height: 33px;
        &--left{
            left: 0;

        }
        &--right{
            right: 0;

        }
    }

    .react-multi-carousel-item {
        transition: all .3s;

        a {
            color: $color-primary;
        }

        &:hover {

            transform: skewX(10deg) scale(1.1);
        }

    }
}