@import '../../scss/abstracts/variables';

.react-multi-carousel-list {

    .react-multi-carousel-dot-list {
        z-index: -100;
    }


    .react-multiple-carousel__arrow {
        min-height: 33px;
        min-width: 30px;
        z-index: 3;

        &--left {
            left: 0;

        }

        &--right {
            right: 0;

        }
    }

    .react-multi-carousel-item {
        transition: all .3s;
        text-align: center;

        a {}
    }


}

.links-container {
    .react-multi-carousel-item {
        a {
            color: $color-tertiary;
            font-size: 2rem;

            &:hover {
                color: $color-secondary;
            }
        }

        &:hover {
            transform: skewX(10deg) scale(1.1);
        }
    }

}