@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';

.home {

    .title {
        color: $color-secondary;
        line-height: 60px;
    }


    &__img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    &-container {
        padding: 0 8rem;
        padding-bottom: 12rem;

        @include respon(phone) {
            padding: 0 2rem;
            padding-bottom: 12rem;
        }

        .boxPreview {
            margin-right: 1.5rem;

            @include respon(phone) {
                margin-right: 1.5rem;
            }
        }

    }



    .sub-title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        color: $color-secondary;
    }
}

.scroll-to-boxes{
    font-size: 8rem;
    line-height: 100px;
    text-shadow: 0 0 12px rgb(36, 32, 32);
    @include absCenter;
    &:hover{
        cursor: pointer;
    }
}

.arrow-down{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: white;
    transform: scale(10);
    &:hover{
        cursor: pointer;
    }
}