
$clr1:rgb(24, 25, 26);

.chat-box{
    min-height: 100%;
    min-width: 300px;
    margin: 2rem;
    padding: 15px;
    margin-bottom: 10rem;
}


.text-form{
    width: 100%;
    input{
        height: 30px;
        width: 80%;
        color: $clr1;
        border: 1px solid lighten($color: $clr1, $amount: 20%);
        outline: none;
        border-right: none;
        padding: 10px;
        ::-webkit-input-placeholder{
            color: $clr1;
        }
    }
    button{
        height: 30px;
        border-left: none;
        background-color: $clr1;
        border: 1px solid lighten($color: $clr1, $amount: 20%);
        outline: none;
        color: white;
        width: 20%;
    }
}


@media (max-width: 1100px) {
    
}