@import '../../scss/abstracts/mixins';

.social-links {
    margin-top: 1rem;
    padding: 0 1.5rem;

    div {
        cursor: pointer;
        svg {
            transform: scale(2);
        }

        a {
            color: white;

        }
    }

    &__success {
        font-size: 2rem !important;
        @include absCenter
    }
}

.social-links__add {
    display: flex;



    justify-content: space-between;
    align-items: center;
    width: 5vw;
}

.social-links-section-social {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.5vw;
}

@media (max-width: 1200px) {
    .social-links-section-social {
        width: 10vw;
    }
}

@media (max-width: 800px) {
    .social-links-section-social {
        width: 13vw;
    }
}

@media (max-width: 800px) {
    .social-links-section-social {
        width: 15vw;
    }
}

@media (max-width: 600px) {
    .social-links-section-social {
        width: 22vw;
    }
}