@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.social-links {
    margin-top: 1rem;
    padding: 0 2rem;

    div {
        cursor: pointer;

        svg {
            transform: scale(2);
        }

        a {
            color: white;
        }
    }

    &__success {
        font-size: 2rem !important;
        @include absCenter
    }
}
.social-links__nav-container{
    width: 30%;
}
.social-links__nav-btn{
    border: none;
    border-bottom: 1px white solid;
    padding: 5px;
    background-color: transparent;
    color: white;
    outline: none;
    &.active{
        color: $color-secondary;
        border-bottom:1px $color-secondary solid;

    }
}


.social-links__add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5vw;
}

.liked {
    color: rgb(245, 148, 148);
}

.social-links-section-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.5vw;
}

@media (max-width: 1200px) {
    .social-links-section-social {
        width: 10vw;
    }

    .social-links__add {
        width: 6vw;      
    }
}



@media (max-width: 800px) {
    .social-links-section-social {
        width: 15vw;
    }
    .social-links__add {
      >*{
          margin-right: 2rem;
      }
    }
}

@media (max-width: 600px) {
    .social-links-section-social {
        width: 22vw;
    }
}