@import './scss/main.scss';




body {
    // font-family: VarelaRound, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-family: nunito-regular;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: .015em;
    color: $color-tertiary;
    // color: white;
    background-color: $color-primary;
}

.app-container {
    min-height: 80vh;
}


.success {
    font-size: 2rem !important;
    z-index: 5;
    @include absCenter
}