@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/base';
@import 'base/typography';
@import 'base/animation';
@import 'base/helpers';

* {
    box-sizing: border-box;
    margin: 0;
}


html{
    height: 100%;
}
ul {
    list-style: none;
}


#root{
    height: 100%;
}
.app{
    height: 100%;
}
a{
    text-decoration: none;
}

body {
    font-size: 2.5rem;
    height: 100%;
}