@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';

.footer {
    justify-content: center;
    font-size: 2.6rem;
    width: 100%;
    padding: 3rem;
    background-color: $color-primary;
    color: white;


    &__developer {
        padding: .5rem;
        align-items: center;
        box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.3);
        margin-right: 10rem;

        >* {
            margin-right: 1rem;
        }
    }

    &__svg {
        fill: white;
        width: 4.5rem;
        height: 4.5rem;
    }

    &__img {
        border-radius: 50%;
        width: 4.5rem;
        height: 4.5rem;
    }
}