@import '../../scss/abstracts/variables';

.footer {
    justify-content: center;
    font-size: 1.5rem;
    width: 100%;
    padding: 1.5rem;
    background-color: $color-primary;
    color: white;

    &__developer {
        margin-right: 10rem;

        >* {
            margin-right: 1rem;
        }
    }

    &__svg {
        fill: white;
        width: 3rem;
        height: 3rem;
    }

    &__img {
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
    }
}